%section
  %div{ :id => "center-container" }
    %div{ :id => "issues-table" }
      %div{ :id => "faux-th" }
        %div{ :class => "col1" }
          &nbsp&nbsp&nbspWhat Sucks?
        %div{ :class => "col2" }
          %center
            Date Added
        %div{ :class => "col3" }
          %center
            Votes
      - @issues.each do |issue|
        %a{ :href => "/summary/#{issue.id}" }
          %div{ :id => "faux-tr" }
            %div{ :class => "col1" }= "   " + issue.name
            %div{ :class => "col2" }
              %center= "Fake Date"
            %div{ :class => "col3" }
              %center= "Fake #"
