<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @name %> requested access for issue id: <%= @iid %></h1>
    <p>
    Email: <%= @email %>
    <br/>
    Pivotal Tracker Account: <%= @pid %>
    <br/>
    </p>
  </body>
</html>
