!!! 5
%html
  %head
    %title= "sucks.Berkeley"
    %meta{ :content => "", :name => "description" }
    %meta{ :content => "", :name => "author" }
    %link{ :href => "/css/screen.css", :media => "screen", :rel => "stylesheet" }
  %body
    %header
      %h1= "sucks.Berkeley"

    %section
      Luke Sucks
