%header sucks.Berkeley
%section
  %div{ :id => "center-container" }
    %div{ :id => "tracking-box" }
      = @issue_name
      %br
      %br
      = @issue_action
      %br
      %br
      = @issue_goal
      %br
      %br
      = @issue_identity
