#content-container {
  margin: -3em auto;
  max-width: 50em;
  min-width: 20em;
  width: 75%;
}

#issues-table {
  width: 100%;
  padding: 0em 0em 1em 0em;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25em;
  color: #FFF;
  float: left;
}

#issues-table #faux-th{
  width: 100%;
  float: left;
}

#issues-table #faux-th-100{
  width: 100%;
  float: left;
}

#faux-th>.col1 {
  position:relative;
  padding: .25em 0em;
  margin:1em 0 1em;
  color:#FFF;
  background:#1F87E0;
  float: left;
  width: 55%;
}

#faux-th-100>.col1 {
  position:relative;
  padding: .25em 0em;
  margin:1em 0 1em;
  color:#FFF;
  background:#1F87E0;
  float: left;
  width: 100%;
}

#faux-th>.col1:after {
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   left: 50px;
   width: 0;
   border-width: 10px 10px 0;
   border-style: solid;
   border-color: #1F87E0 transparent;
}

#faux-th-100>.col1:after {
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   left: 50px;
   width: 0;
   border-width: 10px 10px 0;
   border-style: solid;
   border-color: #1F87E0 transparent;
}

#faux-th>.col2{
  position:relative;
  padding: .25em 0em;
  margin:1em 0 1em;
  color:#FFF;
  background:#1F87E0;
  float: left;
  width: 20%;
  margin-left: 5%;
} 

#faux-th>.col2:after {
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   left: 45%;
   width: 0;
   border-width: 10px 10px 0;
   border-style: solid;
   border-color: #1F87E0 transparent;
}

#faux-th>.col3{
  position:relative;
  padding: .25em 0em;
  margin:1em 0 1em;
  color:#FFF;
  background:#1F87E0;
  float: left;
  width: 15%;
  margin-left: 5%;
} 

#faux-th>.col3:after {
   content: "";
   display: block;
   position: absolute;
   bottom: -10px;
   left: 40%;
   width: 0;
   border-width: 10px 10px 0;
   border-style: solid;
   border-color: #1F87E0 transparent;
}

#faux-tr{
  color: #FFF;
  width: 100%;
  float: left;
  padding: .8em 0em;
  background-color: #324f63;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #333; 
  -moz-box-shadow: inset 0 0 5px #333; 
  -webkit-box-shadow: inset 0 0 5px #333;
  margin-bottom: .5em;
}

#faux-tr-100{
  color: #FFF;
  width: 100%;
  float: left;
  padding: .8em 0em;
  background-color: #324f63;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #333; 
  -moz-box-shadow: inset 0 0 5px #333; 
  -webkit-box-shadow: inset 0 0 5px #333;
  margin-bottom: .5em;
}

#issues-table #faux-tr:hover{
  background-color: #1F87E0;
  border: 1px solid #333;
}

#issues-table #faux-tr-100:hover{
  background-color: #1F87E0;
  border: 1px solid #333;
}

#faux-tr>.col1{
  width: 55%;
  float: left;
  font-size: .8em;
} 

#faux-tr-100>.col1{
  width: 100%;
  float: left;
  font-size: .8em;
} 

.col1> div{
  margin-left: .5em;
}

#faux-tr>.col2{
  width: 20%;
  margin-left: 5%;
  float: left;
} 

#faux-tr>.col3{
  width: 15%;
  margin-left: 5%;
  float: left;
}

#faux-tr:hover:after{
  position: absolute;
  margin-left: .5em;
  margin-top: .2em;
  font-size: .8em;
  color: #F7BE00;
  content: "+1";
}

#issue-tr{
  color: #FFF;
  width: 100%;
  float: left;
  padding: .8em 0em;
  background-color: #324f63;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #333; 
  -moz-box-shadow: inset 0 0 5px #333; 
  -webkit-box-shadow: inset 0 0 5px #333;
  margin-bottom: .5em;
}

#issues-table #issue-tr:hover{
  background-color: #1F87E0;
  border: 1px solid #333;
}

#issue-tr>.col1{
  width: 55%;
  float: left;
  font-size: .8em;
} 

#issue-tr>.col2{
  width: 20%;
  margin-left: 5%;
  float: left;
} 

#issue-tr>.col3{
  width: 15%;
  margin-left: 5%;
  float: left;
}

.dark-swiss-army-box {
  margin: 0 auto 1em;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFF;
  background-color: #324f63;
  float: left;
  box-shadow: inset 0 0 5px #333; 
  -moz-box-shadow: inset 0 0 5px #333; 
  -webkit-box-shadow: inset 0 0 5px #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.dark-swiss-army-box span{
  font-size: 1.25em;
}

.dark-swiss-army-box p {
  padding: .5em 1em;
}

.progress {
  height: 1.5em;
  position: relative;
  width: 90%;
  background: #6387A0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-bottom: 1.5em;
  -webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  -moz-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
  box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}

.progress-col {
  text-shadow: 0 -1px 0 #888;
  width: 33.3%;
  float: left;
}

.left-round {
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  border-radius: 5px 0px 0px 5px;
}

.right-round {
  -moz-border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

.filled-in {
  height: 1.5em;
  background-color: #F7BE00;
}

.expandingArea {
  position: relative;
  width: 90%;
  border: 1px solid #CCC;
  margin-top: 2em;
}

.expandingArea > textarea,
.expandingArea > pre {
  padding: .2em;
  background: transparent;
  white-space: pre-wrap;
  word-wrap: break-word;
}
.expandingArea > textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  height: 1.5em;
  width: 100%;
}
.expandingArea.active > textarea {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  resize: none;
}
.expandingArea > pre {
  display: none;
}
.expandingArea.active > pre {
  display: block;
  visibility: hidden;
}

#comments-form input[type='submit']{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #1F87E0;
  color: #FFF;
  font-family: "Open Sans Condensed", sans-serif;
  padding: .175em .725em .325em .725em;
  border: 0 none;
  display: inline-block;
  font-size: .8em;
  text-decoration: none;
  width: auto;
  margin: 1em 0 0 0;
}

#comments-form input[type='submit']:hover{
  background-color: #33BEF5;
  cursor: pointer;
}
