body {
  margin: 0;
  background-color: #266189;
  color: #333;
  height: 100%
}

textarea, 
pre {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

h2 {
  font-size: 1em;
}

header {
  background-color: #FFF;
  padding: .3125em .625em;
  width: 100%;
  position: fixed;
  z-index: 2;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.5em;
}

header a {
  text-decoration: none;
  color: #1F87E0;
}

header a span{
  color: #F7BE00;
}

#issues-index {
  color: #FFF;
}

#issues-index:hover {
  color: #38A8E7;
}

#center-container {
  position: absolute; 
  top: 25%;
  left: 0;
  width: 100%;
}

#main-box {
  background-color: #FFF;
  -webkit-box-shadow: 0em 0em .5em .05em #333;
  -moz-box-shadow: 0em 0em .5em .05em #333;
  box-shadow: 0em 0em .5em .05em #333;
  margin: -.5em auto;
  width: 95%;
  min-width: 290px;
  max-width: 18em;
  padding: 1.5em .5em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #666;
  font-size: 1.1em;
  font-family: 'Open Sans Condensed', sans-serif;
}

#main-box form {
  margin: 0 auto;
  width: 80%;
  padding: 0;
  font-size: 1.1em;
}

#main-box input {
  width: 50%;
  height: 1.5em;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #CCC;
  margin: 0;
}

#main-box textarea {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  overflow: hidden;
  width: 97%;
  height: 7em;
  border: 1px solid #CCC;
}

#main-box input[type='submit']{
  width: 25px;
  height: 25px;
  background: url("rightarrow.png");
  background-position: right;
  text-shadow: none;
  border: none;
  float: right;
}

#main-box input[type='submit']:hover{
  cursor: pointer;
  background-position: left;
}

#main-box p {
  font-size: 1em;
  margin: -0.5em 0em 0em 0em;
  color: #666;
}

#new-option {
  font-size: 0.625em;
}

#main-box #new-option-field {
  width: 80%;
}

#main-box #student-identity{
  width: 5.5em;
  border: 1px solid #999;
  background-image: none;
  background-color: #cef0f0;
  margin-left: 0.725em;
  float: left;
}

#main-box #professor-identity{
  width: 5.5em;
  border: 1px solid #999;
  background-image: none;
  background-color: #cef0f0;
  margin-left: .5em;
  float: left;
}

#main-box #staff-identity{
  width: 5.5em;
  border: 1px solid #999;
  background-image: none;
  background-color: #cef0f0;
  margin-left: .5em;
  float: left;
}

#main-box #student-identity:hover{
  color: #FFF;
  background-color: #324f63;
}

#main-box #professor-identity:hover{
  color: #FFF;
  background-color: #324f63;
}

#main-box #staff-identity:hover{
  color: #FFF;
  background-color: #324f63;
}

#submit-issue {
  border: 1px solid #999;
  background-color: #FFF;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 7em;
  text-decoration: none;
  color: #333;
}

#submit-issue:hover {
  background-color: #EEE;
  -webkit-box-shadow: inset 0 0 1px 1px #FFF;
  -moz-box-shadow: inset 0 0 1px 1px #FFF;
  box-shadow: inset 0 0 1px 1px #FFF;
}

#tracking-box {
  background-color: #324f63;
  margin: auto;
  margin: 0 auto;
  width: 22.5em;
  padding: 1em 1em 2em 1em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: inset 0 0 5px #333; 
  -moz-box-shadow: inset 0 0 5px #333; 
  -webkit-box-shadow: inset 0 0 5px #333;
  color: #FFF;
  font-size: .8em;
}

#tracking-box span {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.875em;
}

.swiss-army-box {
  margin: 0 auto 1em;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #666;
  background-color: #FFF;
  float: left;
  -webkit-box-shadow: 0em 0em .5em .05em #333;
  -moz-box-shadow: 0em 0em .5em .05em #333;
  box-shadow: 0em 0em .5em .05em #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.swiss-army-box .content-title {
  padding: .325em .5em;
  border-bottom: 1px solid #CCC;
  color: #666;
}

.swiss-army-box p {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

.content-button {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #1F87E0;
  color: #FFF;
  padding: .225em .725em;
  display: inline-block;
  font-size: .8em;
  text-decoration: none;
  margin: 1em auto;
}

.content-button:hover {
  background-color: #33BEF5;
}

#user-story-form {
  padding: 1em;
  width: 60%;
}

#user-story-form input {
  width: 50%;
  height: 1.5em;
  border-style: none none solid none;
  border-width: 1px;
  border-color: #666;
  margin: 0em .325em;
}

#user-story-form input:focus {
  outline: none;
}

#user-story-form input[type='submit']{
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #1F87E0;
  color: #FFF;
  font-family: "Open Sans Condensed", sans-serif;
  padding: .225em .725em 1.725em .725em;
  border: 0 none;
  display: inline-block;
  font-size: .8em;
  text-decoration: none;
  width: auto;
  margin: 0;
}

#user-story-form input[type='submit']:hover{
  background-color: #33BEF5;
  cursor: pointer;
}

.notice-swiss-army-box {
  margin: 0 auto 1em;
  width: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #FFF;
  background-color: #813731;
  float: left;
  box-shadow: inset 0 0 5px #333; 
  -moz-box-shadow: inset 0 0 5px #333; 
  -webkit-box-shadow: inset 0 0 5px #333;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.notice-swiss-army-box span{
  font-size: 1.25em;
}

.notice-swiss-army-box p {
  padding: .2em .2em;
}

