%header sucks.Berkeley
%section
  %div{ :id => "center-container" }
    %div{ :id => "tracking-box" }
      -# 
        @issue_name
      Airbears Sucks!
      %br
      %br
      Action: blah blah blah
    %div{ :id => "main-box" }
      = form_tag do
        = label :issue_goal, "What were you trying to accomplish?", ''
        %br
        %br
        = text_area :put, :issue_goal        
        = submit_tag '', :id => 'what_goal_submit'
